<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.file.repository.MemberMapper">
  <insert id="saveMember" parameterType="member">
  		insert into tb_member (
			id,
			password,
			name,
			gender,
			birth,
			email
		) values (
			#{id},
			#{password},
			#{name},
			#{gender},
			#{birth},
			#{email}
		)
  </insert>
      <!-- 회원정보 검색(ID) -->
    <select id="findMemberById" parameterType="string" resultType="member">
		select * from tb_member where id = #{id} and password = #{password}
	</select>

    <!-- 회원정보 검색(ID, PW) -->
	<select id="findMemberByIdAndPassword" parameterType="member" resultType="member">
		select * from tb_member where id = #{id} and password = #{password}
	</select>
  
  </mapper>